.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
  width: 60%;
  margin: 10% auto;
  border: 3px solid black;
}
.content{
  margin: 16px;
  border: 4px solid gray;
  padding: 20px;
}
.user-details{
  display: flex;
}
.user-details .avt{
  flex:2
}
.avt{
  display: flex;
  justify-content: center;
  align-items: center;
}
.avt img{
  display: flex;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.user-details .user-info{
  flex: 5;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

}
.user-details .user-info p{
  padding: 8px;
  min-width: 200px;
}